/*
*  html5resetcss
*/
/* Базовий скид стилів (Reset CSS) */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; */
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  /* font-size: inherit;
  font-weight: inherit; */
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  max-width: 100%;
  border-style: none;
}

button, input, optgroup, select, textarea {
  /* font-family: inherit;
  font-size: 100%;
  line-height: 1.15; */
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: none;
}

/* Додаткові скидання (за потребою) */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

textarea {
  resize: vertical;
  overflow: auto;
}

[hidden] {
  display: none !important;
}